@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inder&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #303030;
	font-family: 'Inder', sans-serif;
	color: #303030;
	font-weight: bold;

	background-image: url("data:image/svg+xml,%3Csvg width='24' height='48' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%233a3a3a' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section {
	background-color: #D9D5C8;
	width: 80%;
	margin: auto;
	border-radius: 30px;
	padding: 1em;
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
}

.navbar {
	border-radius: 0 0 10px 10px;
	box-shadow: 0 8px #BA6946, 4px 0px 15px rgba(0, 0, 0, 0.25);
	margin: 0 auto 2em auto;
}

.navbar ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;

}

.navbar li {
	display: inline-flex;
	font-family: Fascinate Inline;
	font-size: 35px;
	color: rgba(40, 126, 154, 0.8);
	text-shadow: 3px 3px 4px #D9D5C8, 0 0 0 #000, 1px 4px 6px #D9D5C8;
}

::-moz-selection {
	background: #3D8399;
	color: #D9D5C8;
	text-shadow: none;
}

::selection {
	background: #3D8399;
	color: #fff;
	text-shadow: none;
}

.navbar .hamburger {
	float: right;
}

.navbar .hamburger:hover {
	cursor: pointer;

}

.hero {
	width: 80%;
	height: 20em;
	border-radius: 1em;
	background-color: #D9D5C8;
}

.hero p {
	color: #BA6946;
	font-family: 'Codystar', cursive;
	font-size: 50px;
	text-align: right;
	width: 500px;
}

.projectContainer {
	width: calc(80% + 2em);
	margin: auto;
}

.projectContainer header {
	color: #D9D5C8;
	font-size: 25px;
	padding: 30px 0 30px 10px;
}

.cartridgeDisplay {
	display: grid;
	grid-gap: 2em 1em;
	grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
	align-content: center;
}

.cartridgeDisplay a {
	text-decoration: none;
}

.cartridge {
	width: 100%;
	text-align: center;
}

.cartridge img:hover {
	transform: translateY(-1em);
}

.github{
	width: 100%;
	color: #e2e0d9;
	font-size: 20px;
	display: block;
}

.github i{
	background-color: #24292e;
	color: #e2e0d9;
	border-radius: 50%;
	border: #e2e0d9 3px solid;
}

.github:hover i{
	cursor: pointer;
	border: #BA6946 3px solid;
}

.github span{
	display: inline-block;
	margin-left: 3px;
}


.card {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 325px;
	border-radius: 30px;
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.25);
}

.AERwebsite {
	background-image: url(Assets/AERwebsite.jpg);
	border-color: #BA6946;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.AERwebsite h1{
	background-color: #24292ee5;
	text-align: center;
	color: white;
	margin: 0px;
	border-radius: 10px 10px 0 0;
	padding: 15px;
}



.vignette {
	background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
	width: 100%;
	height: 100%;
	border-radius: 12px;
}
