@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.74), rgba(255, 255, 255, 0.295)), url("Assets/foggy.jpg");
  background-size: cover;

}
.nav{
  background-color: rgba(71, 61, 139, 0.288);
  color: rgba(236, 164, 30, 0.637);
  display: inline-block;
  width: 100vw;
  padding: 1rem 150px;
  font-size: 2rem;
  font-family: 'Piedra', cursive;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
  
}

.nav div{
  display: inline-block;
}

.nav .btn{
  background-color: #da9547;
  width: fit-content;
  float: right;
}

.nav .btn:hover svg{
  fill: white;
} 
.nav h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.nav svg{
  fill: rgba(255, 255, 255, 0.61);
  height: 2rem;
}

.new-post-container{
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
}

.new-post-form{
  background-color: #110c22;
  color: white;
  width: 500px;
  margin: 60px auto;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}

.new-post-form input, .new-post-form textarea{
  background-color: rgba(168, 98, 214, 0.116);
  color: white;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.new-post-form .btn{
  background-color: #da9547;
  margin-top: 10px;
}




.container{
  height: 90vh;
  overflow: scroll;
}

.post{
  display: flex;
  background-color: rgba(17, 6, 27, 0.616);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}

.post img{
  height: 200px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}

.likes-hates{
  background-color: rgba(168, 98, 214, 0.116);
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-weight: bolder;
  color: rgba(255, 0, 0, 0.493);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}

.tracker{
  color: rgba(255, 255, 255, 0.719);
  display: inline-block;
  height: 30px;
  padding: 10px;
}



.comments{
  background-color: rgba(12, 4, 24, 0.623);
  margin-left: 10px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.452);
}

.comments h1{
  font-size: 1.4rem;
  padding: 5px;
  
}

.comments p{
  background-color: rgba(168, 98, 214, 0.116);
  width: 100%;
  min-height: 120px;
  text-align: left;
  padding: 10px;
  color: white;
}

textarea:focus{
  outline: none;
}

.btn{
  color: rgba(255, 255, 255, 0.61);
  font-weight: bolder;
  width: calc(50% - 5px);
}

.btn:hover{
  color: white;
}

.btn:hover .icon{
  fill: white;
} 

.icon{
  width: 1.5rem;
  fill: rgba(255, 255, 255, 0.61);
}

.like-btn{
  background-color: #8466d8;
}

.hate-btn{
  background-color: #da9547;
}




