* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RANGE SLIDERS */
input[type='range'] {
  width: 100%;
  margin: 0px;
  background-color: transparent;
  -webkit-appearance: none;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  background: #b1ada2;
  border-radius: 0 0 5px 5px;
  height: 30px;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  width: 20px;
  height: 30px;
  background: #ba6946;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

/* SUBMIT BUTTON */
input[type='submit'] {
  background-color: #ba6946;
  color: #d9d5c8;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: Montserrat;
}

input[type='submit']:hover {
  cursor: pointer;
}

/* CHECKBOXES */
input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked + label {
  background-color: #3d8399;
  color: #d9d5c8;
}
.toggle label {
  background-color: #5c564c;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.toggle label:hover {
  cursor: pointer;
}

/* BODY */
body {
  background-color: #303030;
  color: #303030;
  font-family: Montserrat;
}

header {
  background-color: #d9d5c8;
  color: #3d8399;
  border-bottom: solid 7px #ba6946;
  padding: 20px 0;
}

header h1 {
  display: inline-block;
  width: fit-content;
  margin-left: 10%;
}

h1 {
  font-size: 25px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: 15px auto;
  justify-content: space-between;
}

.container {
  background-color: #d9d5c8;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rgb-title-container {
  display: flex;
}

.rgb-title-container h1 {
  width: fit-content;
}

.rgbPreview {
  background-color: rgb(141, 137, 123);
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: solid #30303033 3px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.color {
  margin: 10px 0;
  border-radius: 3px;
}
.color label {
  background-color: #a19c8b;
  display: inline-block;
  width: calc(100% - 50px);
  margin: 0;
  border-radius: 5px 0 0 0;
  padding: 10px 5px;
}
.color div {
  background-color: #a19c8b;
  width: 50px;
  margin: 0px;
  border-radius: 0 5px 0 0;
  padding: 10px 5px;
  float: right;
}

.red label {
  color: #ba4646;
}
.green label {
  color: #008512;
}
.blue label {
  color: #4674ba;
}

.red input[type='range']::-webkit-slider-thumb {
  background-color: #ba4646;
}

.green input[type='range']::-webkit-slider-thumb {
  background-color: #46ba55;
}
.blue input[type='range']::-webkit-slider-thumb {
  background-color: #4674ba;
}

.value {
  text-align: center;
  width: 100px;
  padding: 10px;
}

.txt textarea {
  background-color: #ebe8df;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.container-full-width {
  background-color: #d9d5c8;
  width: 80%;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px;
}

.user-target {
  padding: none;
}

.user-target .user-target-container {
  display: inline-block;
  text-align: right;
}

.user-target span {
  color: #5c564c;
  vertical-align: middle;
  font-size: 0.95rem;
}

.user-target input {
  background: none;
  outline: none;
  width: 80px;
  border: none;
  border-bottom: 2px solid #ba6946;
  padding: 0px 5px;

  color: #ba6946;
  font-size: 0.8rem;
  font-family: Montserrat;
  text-align: center;
}

.user-target select {
  background-color: #3d8399;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;

  color: #d9d5c8;
  font-size: 0.7rem;
  font-family: Montserrat;

  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border-radius: 5px 5px 0 0;
  outline: none;
}

select option:hover {
  background-color: #367588;
}

.LOG h2 {
  box-sizing: border-box;
  display: inline-block;
}

.LOG span:last-child {
  float: right;
}

.table-container {
  overflow: auto;
  height: 300px;
  margin-top: 5px;
}

table {
  table-layout: auto;
  width: 100%;

  border: #303030 solid 1px;
  border-radius: 5px;
  text-align: center;
}

th {
  background-color: #5c564c;
  color: #d9d5c8;
  padding: 3px;
}

td {
  padding: 5px;
}

tr:nth-child(2n) {
  background-color: #ccc7b6;
}

tr:nth-child(2n + 1) {
  background-color: #a19c8b;
}

.timestamp,
.sender,
.target {
  width: 120px;
}

.table-color {
  width: 100px;
}

::-webkit-scrollbar {
  background-color: #bebaad;
  width: 8px;
  border-radius: 0 5px 5px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a19c8b;
  border-radius: 0 5px 5px 0;
  border: 5px;
  border-color: #bebaad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c57a5a;
}
